body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #ffecd2, #fcb69f);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.header-container {
  position: relative;
}

.header-link {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #fff;
  color: #007acc;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s ease;
}

.header-link:hover {
  background: #005f99;
  color: #fff;
}

.container {
  text-align: center;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  width: 300px;
}

input {
  padding: 10px;
  width: 80%;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  padding: 10px 15px;
  margin-top: 10px;
  background-color: #ff7e5f;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #eb5e28;
}

.weather-box {
  margin-top: 20px;
  text-align: left;
}

.hidden {
  display: none;
}
